<body style="background-color:#4a7eb1">

    <h1>Messenger: Social Media Application</h1>

    <h2>Hi TOM
        <h2 />
        <form>
            <label style="font-size: large;">Enter your location to get recommendations of friends:</label><br>
            <input id="textbox" type="text" name="">
            <br><br>
            <button onclick="getdata()">Search</button>


            <div>
                <ul id="list">
                    <% age.forEach(function(test){ %>
                    <li><%= test.FIRSTNAME %></li>
                    <li><%= test.LASTNAME %></li>
                    <li><%= test.AGE %></li>
                    <br><br>
                    <% }) %>
                </ul>

                <script>
                    document.getElementById("list").style.display = "none";
                    async function getdata() {
                        //console.log("inside here")
                        var a = document.getElementById("textbox").textContent;
                        if (a != null || a == "Berlin") {
                            document.getElementById("list").style.display = "block";
                            await sleep(20);
                        }
                    }
                    async function sleep(seconds) {
                        return new Promise((resolve) => setTimeout(resolve, seconds * 1000));
                    }
                </script>
            </div>
        </form>
</body>